[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
icecream = "*"
pydantic = "*"
tqdm = "*"
rich = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
